@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');



*{
    box-sizing: border-box;
}

#html {
    height: 90%;
}
body{
    background-color: #c9ffc3;
    font-family: 'lato', sans-serif;
    overflow-x: hidden;
    position: relative;

}

/**Index */



.imagenAnuncion{
    width: 10%;
    height: 10%;
}
.contenido{
    max-width: 80%;
    margin: 0 auto; 
    
}

/* ================= */
/* HEADER */
/* ================= */

header{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 10%;
    background: rgb(250,108,152);
    background: linear-gradient(90deg, rgba(250,108,152,1) 15%, #00b9bc 31%);
    border-bottom: solid 2px #565656;
    justify-content: space-around;
    align-items: center;
    clear:both;
    
}
.menu a {
    color: white;
    text-decoration: none;
}
/* ==================================================================================== */
/* Icono del header*/
/* ==================================================================================== */
#nav_icon{
    
    margin-right: auto ;
    padding: 1%;
    
}

#nav_icon img{

    width: 30%;
    height: auto;
    margin-left: 25%;
}
/* ==================================================================================== */
/* Titulo*/
/* ==================================================================================== */
#nav_title{
    font-family: 'Pacifico';
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap;
}
#nav_title h1{
    margin: 0;
}

#nav_title a{
    font-size: 1.8em;
    margin:0;
    text-decoration: none; 
    display: inline-block;
    justify-self: center;
}
#nav_title a:after {    
    content: "";
    height: 4px;
    left: 500%;
    position: absolute;
    background: #fff;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
  
  }
#nav_title a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  
  
#nav_title a:visited{
    color:white;
}


h1 a {
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

h1 a:after {  
    color: #FF1493;  
    display: block;
 
}
h1 a:hover:after { 
    width: 100%; 
    left: 0; 
}

/* ==================================================================================== */
/* Icono del menu*/
/* ==================================================================================== */
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#00B9BC;
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    z-index: 1;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
/* ==================================================================================== */
/* MEDIA QUERY PORTATIL*/
/* ==================================================================================== */
  @media (max-width: 1100px) and (min-width:768px){
    #nav_icon{
        display: none;
    }
    .menu{
        display: none;
    }
   
    .menu-button-container {
      display: flex;
    }

   
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
  /* ==================================================================================== */
  /* MEDIA QUERY TABLET*/
  /* ==================================================================================== */
  @media (max-width: 767px){
    .menu{
        display: none;
    }
}



/**Login/Sign up:*/

#loginBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    color: #fff;
    background-color: #c9ffc3;
    font-family: 'lato', sans-serif;
}

#container-login, #container-signup {
    background: rgba(58, 63, 68, 0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#container-signup{
    margin-top: 5%;
    margin-bottom: 5%;
}

.logButtons{
    font-family: "museo-slab";
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
.logButtons input{

    padding: 15px;
    margin: 0px 10px 0px 10px;
    background: #00B9BC;
}

.logButtons input:focus, .logButtons input:hover{
    background-color: #197071;
}

.login-item {
    color: #ffff;
    padding: 25px 25px 0;
    margin: 20px 20px 0;
    border-radius: 3px;
}

input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    transition: background-color .3s;
}

.user:before {
    content: '\f007';
    font: 14px fontawesome;
    color: #5b5b5b;
}

.lock:before {
    content: '\f023';
    font: 14px fontawesome;
    color: #5b5b5b;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
    width: 100%;
}

.form-login label, .form-login input[type="text"], .form-login input[type="password"], .form-login input[type="submit"] {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;
}

.form-login label {
    background-color: #222222;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.form-login input[type="text"], .form-login input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-login input[type="text"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {
    background-color: #eeeeee;
}

.form-login input[type="submit"] {
    background-color: #00B9BC;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}

.form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover {
    background-color: #197071;
}

.form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text--center {
    text-align: center;
}

.cake:before {
    content: '\f1fd';
    font: 14px fontawesome;
    color: #5b5b5b;
}

.birthday {
    border-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: gray;
}

.email:before {
    content: "\f003";
    font: 14px fontawesome;
    color: #5b5b5b;
}

.gender:before {
    content: "\f228";
    font: 14px fontawesome;
    color: #5b5b5b;
}

.gender {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 1em;
    color: gray;
}

#container-signup {
    display: none;
}

.privacidad {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.privacidad input {
    margin-right: 10px;

}

.uploadFile {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 1rem;
}

.uploadFileBtn {
    border: 2px solid gray;
    color: white;
    background-color: #222222;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
}

.uploadFile input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.phone:before {
    content:"\f095";
    font: 14px fontawesome;
    color: #5b5b5b;
}



/* ================= */
/* "VER MAS" */
/* ================= */
.ver_mas_anuncios {
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
    height: 60%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(3,30%);
    justify-content: center;
    align-content: end;
  }
  
  .box {
    background-color: #b1b1b1;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .item1 {
    grid-column: 1 / 5;
    font-family: 'Pacifico';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    background: rgb(250,108,152);
    background: linear-gradient(90deg, rgba(250,108,152,1) 15%, rgba(0,185,188,1) 31%);
  }
  
  .item2 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  .foto_anuncio img{
      width: 80%;
      height: auto;
  }
  .descripcion_anuncio{
      width: 50%;
  }
  
  .item3 {
    grid-column: 3 / 5;
  }
  

/* ================= */
/* Footer */
/* ================= */

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    display:flex;
    background-color: #222222;
    color: #ffffffda;
    justify-content: space-around; 
    clear: both;
    padding: 1%;

}
#copyright{
    display: flex;
    flex-direction:column;
    width: 30%;
}
#copyright a{
    text-decoration: none;
}
#copyright a:visited{
    color:#ffffffda;
}
#copyright img{
    width: 10%;
    height: auto;
}


footer a:visited{
    color: #ffffffda;
}
.twitter:hover{
    color:#1da1f2;
}
.git:hover{
    color:#222222;
    background-color:#ffffffda ;
}
.mail {
    color:#ffffffda ;
}
.mail:hover{
    color:red;
}
.footer_title{
    color:#a6a6a6;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}
#copyright{
    height: 100%;
    align-content: center;
  
}

#rrss{
    flex-direction: row;
    margin-left: 11%;
    width: 30%;
}
#rrss > i{
    padding: 5px;
}
#aboutUsLinks{
    width: 30%;
}

#aboutUsLinks ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
}
#aboutUsLinks{
    padding: 0 5px;

}


/* ================= */
/* Perfil */
/* ================= */

#contenedor{
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: 300px 500px 200px;
    margin-top: 5.5%;
    margin-bottom: 4%;
    margin-bottom: 4%;
}
#perfilCabecera{
    grid-column: 2/3;
    grid-row: 1/2;
    border: solid 1px black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#perfilCabecera img{
    width: 30%;
    height: 50%;
}
#anuncios{
    grid-column: 1/2;
    grid-row: 1/4;
    border: solid 1px black;
}
#perfilDatos{
    grid-column: 2/3;
    grid-row: 2/3;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#botonesPerfil{
    grid-column: 2/3;
    grid-row: 3/4;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;

}
#botonesPerfil input {
    padding: 5px;
}

/* ================= */
/* Error */
/* ================= */


#error404{
    margin: 0 auto;

    width: 100vw;
    height: 100vh;
    background-image: url("../MEDIA/error_img.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items:center;
}
#mensaje_error{
    background: #3a3f4480;
    font-family: 'Pacifico';
    color: white;
}
#mensaje_error h1, #mensaje_error h2{
    text-align: center;
}


#mensaje_error a{
    text-decoration: none;
}
#amensaje_error a:hover{
    text-decoration: underline;
}
#mensaje_error a:visited{
    color:white;
}