@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');



*{
    box-sizing: border-box;
  
    word-wrap: break-word;
}

#html {
    height: 90%;
    scroll-behavior: smooth;
}
body{
    background-color: #79edfc;
    font-family: 'lato', sans-serif;
    overflow-x: hidden;
    position: relative;

}
h1, h2{
    font-family: 'Pacifico';
}
p{
    line-height: 1.5em;
}
/**Index */

.ir-arriba {
    display:none;
    padding:20px;
    background:#024959;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
}

.imagenAnuncion{
    width: 10%;
    height: auto;
}
.imagenAnuncioMasGrande{
    width: 25%;
    height: auto;
}
.contenido{
    margin: 0 auto; 

}
#verMAsC{
    display: flex;
    flex-direction: column;
}
/* ==================================================================================== */
/* HEADER */
/* ==================================================================================== */

header{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 10%;
    background: rgb(250,108,152);
    background: linear-gradient(90deg, rgba(250,108,152,1) 15%, #00b9bc 31%);
    border-bottom: solid 2px #565656;
    justify-content: space-around;
    align-items: center;
    clear:both;
    z-index: 1;

    
}
.menu a {
    color: white;
    text-decoration: none;
}
/* ==================================================================================== */
/* Icono del header*/
/* ==================================================================================== */
#nav_icon{
    
    padding: 1%;
    
}

#nav_icon img{

    width: 30%;
    height: auto;
    margin-left: 25%;
}
/* ==================================================================================== */
/* Titulo*/
/* ==================================================================================== */
#nav_title{
    font-family: 'Pacifico';
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap;
}
#nav_title h1{
    margin: 0;
}

#nav_title a{
    font-size: 1.8em;
    margin:0;
    text-decoration: none; 
    display: inline-block;
    justify-self: center;
}
#nav_title a:after {    
    content: "";
    height: 4px;
    left: 500%;
    position: absolute;
    background: #fff;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
  
  }
#nav_title a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  
  
#nav_title a:visited{
    color:white;
}


h1 a {
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

h1 a:after {  
    color: #FF1493;  
    display: block;
 
}
h1 a:hover:after { 
    width: 100%; 
    left: 0; 
}

/* ==================================================================================== */
/* Icono del menu*/
/* ==================================================================================== */
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#00B9BC;
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    z-index: 1;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }


/* ==================================================================================== */
/*LOGIN/SIGNUP*/
/* ==================================================================================== */

#loginBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    color: #fff;
    background-color: #79EDEE;
    font-family: 'lato', sans-serif;
}

#container-login, #container-signup {
    background: rgba(58, 63, 68, 0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#container-signup{
    margin-top: 8%;
    margin-bottom: 8.5%;
}

.logButtons{
    font-family: "museo-slab";
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
.logButtons input{

    padding: 15px;
    margin: 0px 10px 0px 10px;
    background: #00B9BC;
}

.logButtons input:focus, .logButtons input:hover{
    background-color: #197071;
}

.login-item {
    color: #ffff;
    padding: 25px 25px 0;
    margin: 20px 20px 0;
    border-radius: 3px;
}

input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    transition: background-color .3s;
}

.user:before {
    content: '\f007';
    font: 14px fontawesome;
    color: #5b5b5b;
}

.lock:before {
    content: '\f023';
    font: 14px fontawesome;
    color: #5b5b5b;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
    width: 100%;
}

.form-login label, .form-login input[type="text"], .form-login input[type="password"], .form-login input[type="submit"] {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;
}

.form-login label {
    background-color: #222222;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.form-login input[type="text"], .form-login input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-login input[type="text"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {
    background-color: #eeeeee;
}

.form-login input[type="submit"] {
    background-color: #00B9BC;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}

.form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover {
    background-color: #197071;
}

.form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text--center {
    text-align: center;
}

.cake:before {
    content: '\f1fd';
    font: 14px fontawesome;
    color: #5b5b5b;
}

.birthday {
    border-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: gray;
}

.email:before {
    content: "\f003";
    font: 14px fontawesome;
    color: #5b5b5b;
}

.gender:before {
    content: "\f228";
    font: 14px fontawesome;
    color: #5b5b5b;
}

.gender {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 1em;
    color: gray;
}

#container-signup {
    display: none;
}

.privacidad {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.privacidad input {
    margin-right: 10px;

}

.uploadFile {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 1rem;
}

.uploadFileBtn {
    border: 2px solid gray;
    color: white;
    background-color: #222222;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
}

.uploadFile input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.phone:before {
    content:"\f095";
    font: 14px fontawesome;
    color: #5b5b5b;
}

.errorMLogin{
    border:solid 1px #DEDEDE;
    color: #D8000C;
    background-color: #FFD2D2;
    padding:4px;
    text-align:center;
}

/* ================= */
/* Subir Anuncio */
/* ================= */
.nombreProducto:before{
    content:"\f118";
    font: 14px fontawesome;
    color: #5b5b5b;
}
.descpcionProducto:before{
    content:"\f031";
    font: 14px fontawesome;
    color: #5b5b5b;
}
.direccionProducto:before{
    content:"\f124";
    font: 14px fontawesome;
    color: #5b5b5b;
}
#descrpcionProducto{
    width: 100%;
    font: inherit;
}

.categ:before {
    content:"\f06e";
    font: 14px fontawesome;
    color: #5b5b5b;
}

.categ, .etiqueta{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 1em;
    color: gray;
}
.etiqueta:before{
    content: "\f02b";
    font: 14px fontawesome;
    color: #5b5b5b;
}

/* ==================================================================================== */
/* "VER MAS" */
/* ==================================================================================== */
.ver_mas_anuncios, .que_es_yolopop {
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
    height: 60%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(3,30%);
    justify-content: center;
    align-content: end;
  }
  
  .box {
    background-color: #3a3f4480;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
      justify-content: center;
      align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  
  .item1 {
    grid-column: 1 / 5;
    font-family: 'Pacifico';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    background: rgb(250,108,152);
    background: linear-gradient(90deg, rgba(250,108,152,1) 15%, rgba(0,185,188,1) 31%);
  }
  
  .item2 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  .foto_anuncio img{
      width: 80%;
      height: auto;
  }
  .descripcion_anuncio{
      width: 50%;
  }
  
  .item3 {
    grid-column: 3 / 5;
  }
  


/* ==================================================================================== */
/* Perfil */
/* ==================================================================================== */

.perfil {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 20vw 12vw 10vw;
    color: #444;
    margin-top: 7%;
    margin-bottom: 9%;
}
    .a {
        grid-column: 1 / 3;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
    }
    .b {
        grid-column: 3 ;
        grid-row: 1 / 3;
        overflow: hidden;
        display: flex;
        flex-direction: column;

    }
    .c {
        grid-column: 1 ;
        grid-row: 2/3 ;
    }
    .d {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-content: center;
    }

#boton_log_out{
    width: 50%;
    background-color: #FF6347;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.25rem;
    padding: 1rem;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    transition: background-color .3s;
}
#boton_log_out:hover{
    background-color: #8B0000;
}
#botonesPerfil input{
    margin-bottom: 30px;
}

.boton_Perfil{
    background-color: #00B9BC;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.25rem;
    padding: 1rem;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 5px;
    padding: 0;
    transition: background-color .3s;
}
.boton_Perfil:hover{
    background-color: #8B0000;
}
#anuncios{
    display: flex;
    justify-content: center;
    flex-direction: row;
}








/*
#contenedor{
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: 300px 500px 200px;
    margin-top: 5.5%;
    margin-bottom: 4%;
    margin-bottom: 4%;
}
#perfilCabecera{
    grid-column: 2/3;
    grid-row: 1/2;
    border: solid 1px black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#perfilCabecera img{
    width: 30%;
    height: 50%;
}
#anuncios{
    grid-column: 1/2;
    grid-row: 1/4;
    border: solid 1px black;
}
#perfilCuerpo{
    grid-column: 2/3;
    grid-row: 2/4;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#perfilDatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#datos{
    display: flex;
}
#botonesPerfil{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;

}
#botonesPerfil input {
    padding: 5px;
}
*/
#datos div p{
    font-style: italic;
}
#datos{
    overflow: hidden;
}

/* ==================================================================================== */
/* Error */
/* ==================================================================================== */

#perfilCabecera img{
    width: 50%;
    height: auto;
}
#error404{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-image: url("../MEDIA/error_img.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items:center;
}
#mensaje_error{
    background: #3a3f4480;
    font-family: 'Pacifico';
    color: white;
}
#mensaje_error h1, #mensaje_error h2{
    text-align: center;
}


#mensaje_error a{
    text-decoration: none;
}
#amensaje_error a:hover{
    text-decoration: underline;
}
#mensaje_error a:visited{
    color:white;
}
/* ==================================================================================== */
/* Donde Estamos */ /* AYUDA*/
/* ==================================================================================== */


.donde_estamos, .ayuda {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 0.8fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
        
.donde_estamos_titulo, .ayuda_titulo { 
    grid-area: 1 / 2 / 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250,108,152);
    background: linear-gradient(90deg, rgba(250,108,152,1) 15%, rgba(0,185,188,1) 31%);
    margin-bottom: 5%;
    border-radius: 5px;
    padding: 20px;
    
 }  
.mapa, .contenido_ayuda{
    grid-area: 2 / 2 / 5 / 5;
    background: #3a3f4480;
    border-radius: 5px;
}
/*
#mapa iframe {
    max-width: 70vw;
    width: auto;
    height: 60vh;
 }
*/
.mapa {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}
.mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
 .contenido_ayuda{
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 3%;
 }
 #ayuda_img{
     width: 40%;
     height: auto;
     float: right;
     
     
 }
 /* ==================================================================================== */
/* Que es YOLOPOP*/
/* ==================================================================================== */
#que_es_yolopop{
    hyphens: auto;
}

#descripcion_anuncio{
    width: 100%;
}
#links_iconos a, #links_iconos a:visited{
    color: white;
}
#links_iconos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
}


#ajebask_img{
    width: 7vw;
    height: auto;
    margin: 0;
}


 /* ==================================================================================== */
/* Sobre nosotros/
/* ==================================================================================== */

.nosotros {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.titulo_nosotros { 
    grid-area: 1 / 2 / 2 / 5; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250,108,152);
    background: linear-gradient(90deg, rgba(250,108,152,1) 15%, rgba(0,185,188,1) 31%);
    margin-bottom: 5%;
    border-radius: 5px;
    padding: 20px;
}
.miembro_1 {
     grid-area: 2 / 2 / 3 / 3;
    
}
.contenido_1 {
     grid-area: 3 / 2 / 6 / 3; 
}
.miembro_2 {
     grid-area: 2 / 3 / 3 / 4;
}
.contenido_2 { 
    grid-area: 3 / 3 / 6 / 4; 
}
.miembro_3 { 
    grid-area: 2 / 4 / 3 / 5; 
}
.contenido_3 { 
    grid-area: 3 / 4 / 6 / 5;
}

.miembro_1, .miembro_2, .miembro_3{
    background-color: #3a3f4480;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border-radius: 5px;
}
.contenido_1, .contenido_2, .contenido_3{
    background-color: #3a3f4480;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    flex-direction: column;
    border-radius: 5px;
}

.contenido_1 img, .contenido_2 img, .contenido_3 img{
    width: 30%;
    height: auto;
    border-radius: 50%;
}

#tusAnuncios{
    display: block;
    overflow-y: scroll;
    height: 700px;
}
#updatePerfil{
    display: none;
    height: 700px;
}
#contenedorAnuncios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjetasPerfil{

    background: darkseagreen;
    width: 360px;
    height: 170px;
    border: solid 1px black;
    border-radius: 1px ;
    display: flex;
    flex-direction: column;
}
.tarjetasPerfil .p1{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);
    align-self: flex-start;

}
.tarjetasPerfil h1{
    line-height: 1.25;
    font-size: 2em;
    color: rgba(0,0,0,0.9);
    align-self: center;
    margin-bottom: 3%;
}
.tarjetasPerfil .p2{
    font-weight: normal;
    color: rgba(0,0,0,0.6);
    align-self: flex-start;
}

/* ================= */
/* Página anuncio/
/* ================= */

#contenedorProducto{
    background: rgba(58, 63, 68, 0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
    width: 750px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
#actualizarAnuncio{
    background: rgba(58, 63, 68, 0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
    width: 750px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
#productoBody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: flex-end;
}
#productoBody #fechaProd{
    align-self: flex-start;
}
#productoBody #persona{
    align-self: center;
}
#productoBody #direccion{
    align-self: flex-end;
}
#productoHead{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenedorProducto img{
    width: 300px;
    height: 200px;
    margin-bottom: 2%;
}

#formBotones{
    margin-top: 3%;
    background: rgba(58, 63, 68, 0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
    width: 750px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#paginaProducto{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-bottom: 6%;
}
#boton_contacto{
    width: 50%;
    background-color: green;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.25rem;
    padding: 1rem;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    transition: background-color .3s;
}
#boton_contacto:hover{
    background-color: darkgreen;
}
#boton_update{
    width: 50%;
    background-color: dodgerblue;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.25rem;
    padding: 1rem;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    transition: background-color .3s;
}
#boton_update:hover{
    background-color: blue;

}
/* ==================================================================================== */
/* Footer */
/* ==================================================================================== */

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    display:flex;
    background-color: #222222;
    color: #ffffffda;
    justify-content: space-around; 
    clear: both;
    padding: 0;
    margin:0;

}
footer a, footer a:visited{
    color:#ffffffda;
    text-decoration: none;
}

#copyright{
    display: flex;
    flex-direction:column;
    width: 30%;
}


#copyright img{
    width: 10%;
    height: auto;
}
.twitter:hover{
    color:#1da1f2;
}
.git:hover{
    color:#222222;
    background-color:#ffffffda ;
}
.mail {
    color:#ffffffda ;
}
.mail:hover{
    color:red;
}
.footer_title{
    color:#a6a6a6;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}
#copyright{
    height: 100%;
    align-content: center;
  
}

#rrss{
    flex-direction: row;
    width: 30%;
}
#rrss > i{
    padding: 5px;
}
#aboutUsLinks{
    width: 30%;
}

#aboutUsLinks ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
}
#aboutUsLinks{
    padding: 0 5px;

}
li a{
    text-decoration: none;
}
li a:visited{
    color:white;
}


/* ==================================================================================== */
/* MEDIA QUERY TABLET*/
/* ==================================================================================== */
@media (max-width: 1100px) and (min-width:790px){
   
   /* ---------------------------------------------------------------- */
   /* HEADER */
   /* ---------------------------------------------------------------- */
    #nav_icon{
        display: none;
    }
    #nav_title{
        font-size: 0.8em;
    }
    .menu{
        display: none;
    }
   
    .menu-button-container {
      display: flex;
    }

    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
 
    /* ---------------------------------------------------------------- */
    /* Ayuda */
    /* ---------------------------------------------------------------- */

    .ayuda{
        display: flex;
        flex-direction: column;
        margin-top: -15%;
    }

   
    /* ---------------------------------------------------------------- */
    /* Donde Estamos */
    /* ---------------------------------------------------------------- */
    .donde_estamos{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10%;
    }
    .donde_estamos_titulo{
        font-size: 0.8em;
        margin-bottom: 2%;
    }
    .mapa{
        margin-bottom: 13%;
    }
    /* ---------------------------------------------------------------- */
    /* Nosotros */
    /* ---------------------------------------------------------------- */

    .miembro_1, .miembro_2, .miembro_3{
        display: none;
    }
    .contenido_1, .contenido_2, .contenido_3{
        border-radius: 0;
        margin-bottom: 10px;
        padding: 2%;
    }
    .contenido_3{
        margin-bottom: 17vh;
    }
    .nosotros{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 12vh;
        align-content: space-around;
    }

    /* ---------------------------------------------------------------- */
    /* Qué es YoloPop */
    /* ---------------------------------------------------------------- */

    .que_es_yolopop{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        margin-top: 1%;
        
    }
    .box{
        min-height: 20vh;
        margin: 15px 0;
        font-size: 1.3em;

        
    }
    .item1{
        min-height: 10vh;
        margin-top: 25vh;
        
    }

    #links_iconos, #info_equipo{
        display: none;
    }
    #item3_que_es_yolopop{
        display: flex;
        font-size: 1.8em;

    }
    #item3_que_es_yolopop img{
        width: 50%;
        float: right;
   
    }


    /* ---------------------------------------------------------------- */
    /* Footer */
    /* ---------------------------------------------------------------- */

    footer{
        font-size: 0.7em;
    }
    #aboutUsLinks ul{
        columns: 1;
        list-style: none;
    }


  }
  
  /* ==================================================================================== */
  /* MEDIA QUERY Movil*/
  /* ==================================================================================== */
  @media (max-width: 789px){
    body, p{
        font-size: 0.8em;
    }
      /* ---------------------------------------------------------------- */
   /* HEADER */
   /* -------------------------------------------------------------------*/
   
    #nav_icon{
        display: none;
    }
    .menu{
        display: none;
    }
    #nav_title{
        font-size: 0.8em;
    }
 
    .menu-button-container {
      display: flex;
    }

    /* ---------------------------------------------------------------- */
    /* Ayuda */
    /* ---------------------------------------------------------------- */

    .ayuda{
        display: flex;
        flex-direction: column;
        margin-top: -15%;
    }

    .mapa{
        display: block;
        clear: both;
    }
    .contenido_ayuda{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
    }
    #ayuda_img{
        margin-right:30% ;
    }
    /* ---------------------------------------------------------------- */
    /* Donde Estamos */
    /* ---------------------------------------------------------------- */
    .donde_estamos{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 3vh;
    }
    .donde_estamos_titulo{
        font-size: 0.8em;
        margin-bottom: 2%;
    }
    .mapa{
        margin-bottom: 13%;
    }

    /* ---------------------------------------------------------------- */
    /* Nosotros */
    /* ---------------------------------------------------------------- */

    .miembro_1, .miembro_2, .miembro_3{
        display: none;
    }
    .contenido_1, .contenido_2, .contenido_3{
        border-radius: 0;
        margin-bottom: 10px;
        padding: 2%;
    }
    .contenido_3{
        margin-bottom: 17vh;
    }
    .nosotros{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 12vh;
        align-content: space-around;
    }

    /* ---------------------------------------------------------------- */
    /* Qué es YoloPop */
    /* ---------------------------------------------------------------- */

    .que_es_yolopop{
        font-size: 1em;
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        margin-top: 1%;
        font-size: 1em;
        
    }
    .box{
        min-height: 20vh;
        margin: 15px 0;
        font-size: 1.3em;

    }

    .item1{
        min-height: 10vh;
        margin-top: 25vh;
        font-size: 1.2em;
    }

    #links_iconos, #info_equipo{
        display: none;
    }
    #item3_que_es_yolopop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    #item3_que_es_yolopop p{

    }
    #item3_que_es_yolopop img{
 
        width: 30%;
        margin-left: 30%;
   
    }
      
    /* ---------------------------------------------------------------- */
    /* Footer */
    /* ---------------------------------------------------------------- */

    footer{
        font-size: 0.7em;
    }
    #aboutUsLinks ul{
        columns: 1;
        list-style: none;
    }
}
@media (max-width: 640px) {
    #container-login {
        margin-bottom: 10%;
    }
    #container-signup{
        margin-bottom: 31.5%;
    }
    #updatePerfil{
        display: none;
    }
    #tusAnuncios{
        display: none;
    }
    #botonesPerfilO{
        display: none;
    }
    #botonLogOutPerfil{
        display: none;
    }
    #datosPerfil{
        width: 100%;
    }
    #perfil{
        display: flex;
        margin-bottom: 20%;

    }
}

/* ==================================================================================== */
/* VER MÁS*/
/* ==================================================================================== */

#paginaVerMas{
    margin-top: 7%;
    margin-bottom: 6%;
    background: rgba(58, 63, 68, 0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
    min-width: 750px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
#tablaVerMas{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 7%;
    margin-top: 5%;
}
#verMasProductos{
    text-align: left;
    border-collapse: collapse;
}
#verMasProductos, #verMasProductos tr{
    border: solid 3px black;
    background: #ed8caa;

}
#verMasProductos td{
    padding: 20px;
}
#verMasProductos tr:nth-child(even){

    background: #ed4076;
}
#verMasProductos tr:hover{
background: #821f3e;
}
#tituloCat{
    padding-top: 3%;
    align-self: center;
}
#contenedorProductosVerMas{
    background: #79EDEE;
}